{% extends "index.html" %}

{% block content %}
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <form class="login_form" action="" method="post" novalidate>
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name != 'csrf_token' %}
                <div>
                    {{ field.label() }}
                    {{ field() }}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
      </div>
      <div class="col">
      </div>
    </div>
{% endblock %}
