{% extends "index.html" %}

{% block content %}
<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="background-color:orange;"></div>
      <div class="col-sm-6" style="background-color:orange;"></div>
    </div>
    <br>
  </div>
  <div class="col-4">

  <div class="accordion h-100" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Декоративные предметы
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Лампы
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#">Настольные</a></li>
                  <li><a class="dropdown-item" href="#">Настенные</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          <div>
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Резьба
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#">Дубовая</a></li>
                  <li><a class="dropdown-item" href="#">Кленовая</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          </div>

          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Посуда
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#">Стаканы</a></li>
                  <li><a class="dropdown-item" href="#">Тарелки</a></li>
                  <li><a class="dropdown-item" href="#">Ложки/Вилки</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Мебель
          </button>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Столы
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#">Дубовые</a></li>
                  <li><a class="dropdown-item" href="#">Берёзовые</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          <div>
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Стулья
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#">Дубовые</a></li>
                  <li><a class="dropdown-item" href="#">Липовые</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          </div>

          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Бобер
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#">Кожа</a></li>
                  <li><a class="dropdown-item" href="#">Заменитель кожи</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
      </div>
    </div>
   </div>


   <div class="card">
     <div class="card-header" id="headingThree">
       <h5 class="mb-0">
         <button class="btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Фигурки
         </button>
       </h5>
     </div>

     <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
       <div class="card-body">
         <div class="btn-group dropright">
           <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
             Животные
           </button>
           <div class="dropdown-menu">
               <div>
                 <div class="dropdown-divider"></div>
                 <li><a class="dropdown-item" href="#">Зайцы</a></li>
                 <li><a class="dropdown-item" href="#">Бобры</a></li>
                 <li><a class="dropdown-item" href="#">Олени</a></li>
                 <div class="dropdown-divider"></div>
               </div>
           </div>
         </div>
         <div>
         <div class="btn-group dropright">
           <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
             Игрушки
           </button>
           <div class="dropdown-menu">
               <div>
                 <div class="dropdown-divider"></div>
                 <li><a class="dropdown-item" href="#">Машинки</a></li>
                 <li><a class="dropdown-item" href="#">Куклы</a></li>
                 <div class="dropdown-divider"></div>
               </div>
           </div>
         </div>
         </div>
     </div>
   </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Материалы
        </button>
      </h5>
    </div>

    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <div class="btn-group dropright">
          <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Древесина
          </button>
          <div class="dropdown-menu">
              <div>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="#">Дубовая</a></li>
                <li><a class="dropdown-item" href="#">Берёзовая</a></li>
                <li><a class="dropdown-item" href="#">Липовая</a></li>
                <li><a class="dropdown-item" href="#">Кленовая</a></li>
                <div class="dropdown-divider"></div>
              </div>
          </div>
        </div>
    </div>
  </div>
 </div>

 <div class="card">
   <div class="card-header" id="headingFive">
     <h5 class="mb-0">
       <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         Ручные изделия
       </button>
     </h5>
   </div>

   <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
     <div class="card-body">
       <div>
       <div class="btn-group dropright">
         <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
           Кольцо
         </button>
         <div class="dropdown-menu">
             <div>
               <div class="dropdown-divider"></div>
               <li><a class="dropdown-item" href="#">Обыкновенное</a></li>
               <li><a class="dropdown-item" href="#">С узором</a></li>
               <li><a class="dropdown-item" href="#">С эпоксидной смолой</a></li>
               <div class="dropdown-divider"></div>
             </div>
         </div>
       </div>
       </div>
       <div>
       <div class="btn-group dropright">
         <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
           Кулон
         </button>
         <div class="dropdown-menu">
             <div>
               <div class="dropdown-divider"></div>
               <li><a class="dropdown-item" href="#">Обыкновенный</a></li>
               <li><a class="dropdown-item" href="#">С узором</a></li>
               <li><a class="dropdown-item" href="#">С эпоксидной смолой</a></li>
               <div class="dropdown-divider"></div>
             </div>
         </div>
       </div>
       </div>
       <div>
       <div class="btn-group dropright">
         <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
           Браслет
         </button>
         <div class="dropdown-menu">
             <div>
               <div class="dropdown-divider"></div>
               <li><a class="dropdown-item" href="#">Обыкновенный</a></li>
               <li><a class="dropdown-item" href="#">С узором</a></li>
               <li><a class="dropdown-item" href="#">С эпоксидной смолой</a></li>
               <div class="dropdown-divider"></div>
             </div>
         </div>
       </div>
       </div>
   </div>
 </div>
</div>
</div>
   </div>
   <div class="col8">
   {% for i in range(0, length, 3) %}
       <div class="card-deck">

         <div class="card border-dark" style="width: 400px; margin-bottom: 10px;">
          <img src="{{ url_for('static', filename=cards[i:i + 3][0].filename[6:]) }}" alt="Avatar" style="width:100%; margin-bottom: 10px;" width="400px" height="400px">
          <div class="card-body">
            <h4><b>{{cards[i:i + 3][0].title}}</b></h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ cards[i:i + 3][0].content }}</li>
          </ul>
          <div class="card-body">
            <h3 class="card-text text-right">{{ cards[i:i + 3][0].price }}</h3>
          </div>
         <div class="card-footer bg-transparent border-success"><a href="product/{{ cards[i:i + 3][0].id }}">перейти</a></div>
        </div>

      <div class="card border-dark" style="width: 400px; margin-bottom: 10px;">
       <img src="{{ url_for('static', filename=cards[i:i + 3][1].filename[6:]) }}" alt="Avatar" style="width:100%; margin-bottom: 10px;" width="400px" height="400px">
       <div class="card-body">
         <h4><b>{{cards[i:i + 3][1].title}}</b></h4>
       </div>
       <ul class="list-group list-group-flush">
         <li class="list-group-item">{{ cards[i:i + 3][1].content }}</li>
       </ul>
       <div class="card-body">
         <h3 class="card-text text-right">{{ cards[i:i + 3][1].price }}</h3>
       </div>
      <div class="card-footer bg-transparent border-success"><a href="product/{{ cards[i:i + 3][1].id }}">перейти</a></div>
     </div>

     <div class="card border-dark" style="width: 400px; margin-bottom: 10px;">
      <img src="{{ cards[i:i + 3][2].filename }}" alt="Avatar" style="width:100%; margin-bottom: 10px;" width="400px" height="400px">
      <div class="card-body">
        <h4><b>{{cards[i:i + 3][2].title}}</b></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ cards[i:i + 3][2].content }}</li>
      </ul>
      <div class="card-body">
        <h3 class="card-text text-right">{{ cards[i:i + 3][2].price }}</h3>
      </div>
     <div class="card-footer bg-transparent border-success"><a href="product/{{ cards[i:i + 3][2].id }}">перейти</a></div>
    </div>

   </div>
   {% endfor %}
</div>
</div>
{% endblock %}
