{% extends "index.html" %}
{% block content %}
<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="background-color:orange;"></div>
      <div class="col-sm-6" style="background-color:orange;"></div>
    </div>
    <br>
  </div>
  <div class="col-md-3">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Техника
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="btn-group dropright">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Компьютерная техника
            </button>
            <div class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><b>Компьютеры, ноутбуки и ПО</b></a></li>
              <div class="dropdown-divider"></div>
                <div>
                  <li><a class="dropdown-item" href="#">    Cистемные блоки</a></li>
                  <li><a class="dropdown-item" href="#">    Моноблоки</a></li>
                  <li><a class="dropdown-item" href="#">    Ноутбуки</a></li>
                </div>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#"><b>Комплектующие для ПК</b></a></li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Дом и зоотовары
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Кошки и Коты
          Собаки блин помоги те
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Всё для детей
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Игрушки и тп!
        </div>
      </div>
    </div>
   </div>
   </div>
   {% for item in cards%}
   <div class="col-md-3">
     <div class="card">
      <img src="{{item.filename}}" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{item.title}}</b></h4>
        <p>{{ item.content[20:] }}</p>
        <p>{{ item.price }}</p>
      </div>
    </div>
   </div>
   {% endfor %}
</div>
{% endblock %}
