{% extends "index.html" %}

{% block content %}
<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" style="background-color:red;"></div>
      <div class="col-sm-6" style="background-color:red;"></div>
    </div>
    <br>
  </div>

  <div class="col-4">
  <div class="accordion h-100" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Декоративные предметы
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
        <div class="card-body">
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Лампы
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/main/ДекоративныеПредметы/Лампы/Настольные">Настольные</a></li>
                  <li><a class="dropdown-item" href="/main/ДекоративныеПредметы/Лампы/Настенные">Настенные</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          <div>
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Резьба
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/main/ДекоративныеПредметы/Резьба/Дубовая">Дубовая</a></li>
                  <li><a class="dropdown-item" href="/main/ДекоративныеПредметы/Резьба/Кленовая">Кленовая</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          </div>

          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Посуда
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/main/ДекоративныеПредметы/Посуда/Стаканы">Стаканы</a></li>
                  <li><a class="dropdown-item" href="/main/ДекоративныеПредметы/Посуда/Тарелки">Тарелки</a></li>
                  <li><a class="dropdown-item" href="/main/ДекоративныеПредметы/Посуда/Ложки">Ложки/Вилки</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Мебель
          </button>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
        <div class="card-body">
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Столы
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/main/Мебель/Столы/Дубовые">Дубовые</a></li>
                  <li><a class="dropdown-item" href="/main/Мебель/Столы/Берёзовые">Берёзовые</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          <div>
          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Стулья
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/main/Мебель/Стулья/Дубовые">Дубовые</a></li>
                  <li><a class="dropdown-item" href="/main/Мебель/Стулья/Липовые">Липовые</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
          </div>

          <div class="btn-group dropright">
            <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              Бобер
            </button>
            <div class="dropdown-menu">
                <div>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="/main/Мебель/Бобер/Кожа">Кожа</a></li>
                  <li><a class="dropdown-item" href="/main/Мебель/Бобер/ЗаменительКожи">Заменитель кожи</a></li>
                  <div class="dropdown-divider"></div>
                </div>
            </div>
          </div>
      </div>
    </div>
   </div>


   <div class="card">
     <div class="card-header" id="headingThree">
       <h5 class="mb-0">
         <button class="btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Фигурки
         </button>
       </h5>
     </div>

     <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
       <div class="card-body">
         <div class="btn-group dropright">
           <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
             Животные
           </button>
           <div class="dropdown-menu">
               <div>
                 <div class="dropdown-divider"></div>
                 <li><a class="dropdown-item" href="/main/Фигурки/Животные/Зайцы">Зайцы</a></li>
                 <li><a class="dropdown-item" href="/main/Фигурки/Животные/Бобры">Бобры</a></li>
                 <li><a class="dropdown-item" href="/main/Фигурки/Животные/Олени">Олени</a></li>
                 <div class="dropdown-divider"></div>
               </div>
           </div>
         </div>
         <div>
         <div class="btn-group dropright">
           <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
             Игрушки
           </button>
           <div class="dropdown-menu">
               <div>
                 <div class="dropdown-divider"></div>
                 <li><a class="dropdown-item" href="/main/Фигурки/Игрушки/Машинки">Машинки</a></li>
                 <li><a class="dropdown-item" href="/main/Фигурки/Игрушки/Куклы">Куклы</a></li>
                 <div class="dropdown-divider"></div>
               </div>
           </div>
         </div>
         </div>
     </div>
   </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Материалы
        </button>
      </h5>
    </div>

    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
      <div class="card-body">
        <div class="btn-group dropright">
          <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Древесина
          </button>
          <div class="dropdown-menu">
              <div>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/main/Материалы/Древесина/Дубовая">Дубовая</a></li>
                <li><a class="dropdown-item" href="/main/Материалы/Древесина/Берёзовая">Берёзовая</a></li>
                <li><a class="dropdown-item" href="/main/Материалы/Древесина/Липовая">Липовая</a></li>
                <li><a class="dropdown-item" href="/main/Материалы/Древесина/Кленовая">Кленовая</a></li>
                <div class="dropdown-divider"></div>
              </div>
          </div>
        </div>
    </div>
  </div>
 </div>

 <div class="card">
   <div class="card-header" id="headingFive">
     <h5 class="mb-0">
       <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         РучныеИзделия
       </button>
     </h5>
   </div>

   <div id="collapseFive" class="collapse show" aria-labelledby="headingFive">
     <div class="card-body">
       <div>
       <div class="btn-group dropright">
         <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
           Кольцо
         </button>
         <div class="dropdown-menu">
             <div>
               <div class="dropdown-divider"></div>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Кольцо/Обыкновенное">Обыкновенное</a></li>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Кольцо/С узором">С узором</a></li>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Кольцо/СЭпоксиднойСмолой">С эпоксидной смолой</a></li>
               <div class="dropdown-divider"></div>
             </div>
         </div>
       </div>
       </div>
       <div>
       <div class="btn-group dropright">
         <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
           Кулон
         </button>
         <div class="dropdown-menu">
             <div>
               <div class="dropdown-divider"></div>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Кулон/Обыкновенный">Обыкновенный</a></li>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Кулон/СУзором">С узором</a></li>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Кулон/СЭпоксиднойСмолой">С эпоксидной смолой</a></li>
               <div class="dropdown-divider"></div>
             </div>
         </div>
       </div>
       </div>
       <div>
       <div class="btn-group dropright">
         <button type="button" style="margin-bottom:10px" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
           Браслет
         </button>
         <div class="dropdown-menu">
             <div>
               <div class="dropdown-divider"></div>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Браслет/Обыкновенный">Обыкновенный</a></li>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Браслет/СУзором">С узором</a></li>
               <li><a class="dropdown-item" href="/main/РучныеИзделия/Браслет/СЭпоксиднойСмолой">С эпоксидной смолой</a></li>
               <div class="dropdown-divider"></div>
             </div>
         </div>
       </div>
       </div>
   </div>
 </div>
</div>
</div>
   </div>
   <div class="col-8">
   {% for i in range(0, length, 3) %}
       <div class="card-deck" style="margin-right:10px">

         <div class="card border-dark" style="width: 400px; height: 750px; margin-bottom: 10px;">
          <img  width="400px" height="400px" src="{{ url_for('static', filename=cards[i:i + 3][0].filename[6:]) }}" alt="Avatar" style="width:100%;">
          <div class="card-body">
            <div class="card-body">
              <h4><b>{{cards[i:i + 3][0].title}}</b></h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ cards[i:i + 3][0].content }}</li>
            </ul>
            <div class="card-body">
              <h3 class="card-text text-right">{{ cards[i:i + 3][0].price }}</h3>
            </div>
           <div class="card-footer bg-transparent border-success"><a href="product/{{ cards[i:i + 3][0].id }}">перейти</a></div>
          </div>
        </div>

      <div class="card border-dark" style="width: 400px; height: 750px; margin-bottom: 10px;">
       <img width="400px" height="400px"  src="{{ url_for('static', filename=cards[i:i + 3][1].filename[6:]) }}" alt="Avatar" style="width:100%;">
       <div class="card-body">
         <div class="card-body">
           <h4><b>{{cards[i:i + 3][1].title}}</b></h4>
         </div>
         <ul class="list-group list-group-flush">
           <li class="list-group-item">{{ cards[i:i + 3][1].content }}</li>
         </ul>
         <div class="card-body">
           <h3 class="card-text text-right">{{ cards[i:i + 3][1].price }}</h3>
         </div>
        <div class="card-footer bg-transparent border-success"><a href="product/{{ cards[i:i + 3][1].id }}">перейти</a></div>
      </div>
     </div>

     <div class="card border-dark" style="width: 400px; height: 750px; margin-bottom: 10px;">
      <img width="400px" height="400px"  src="{{ cards[i:i + 3][2].filename }}" alt="Avatar" style="width:100%;">
      <div class="card-body">
        <div class="card-body">
          <h4><b>{{cards[i:i + 3][2].title}}</b></h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ cards[i:i + 3][2].content }}</li>
        </ul>
        <div class="card-body">
          <h3 class="card-text text-right">{{ cards[i:i + 3][2].price }}</h3>
        </div>
       <div class="card-footer bg-transparent border-success"><a href="product/{{ cards[i:i + 3][2].id }}">перейти</a></div>
       </div>
    </div>

   </div>
   {% endfor %}
   </div>
</div>

{% endblock %}
